#browsertrust-button
  {list-style-image: url("chrome://browsertrust/content/button-2s.png");}

/* common style for all custom buttons - modern */
#nav-bar .custombutton-red
  {-moz-image-region: rect( 2px  41px 37px  0px);}
#nav-bar .custombutton-red:hover
  {-moz-image-region: rect( 2px  83px 37px 42px);}
#nav-bar .custombutton-red:active
  {-moz-image-region: rect( 2px 125px 37px 84px);}
  
#nav-bar .custombutton
  {-moz-image-region: rect( 43px  41px 78px  0px);}
#nav-bar .custombutton:hover
  {-moz-image-region: rect( 43px  83px 78px 42px);}
#nav-bar .custombutton:active
  {-moz-image-region: rect( 43px 125px 78px 84px);}
  
 .wordwrap {  
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}